scratch_ipynbs/
dist
__pycache__
notes/
.idea/
.vscode/
.hypothesis
.pytest_cache
.DS_Store
.ipynb_checkpoints
tests/.hypothesis/
tests/.pytest_cache
*.egg-info
*.code-workspace

/demos/archive
tests/plot_complex_density_matrix test.py
src/pulsee.egg-info/PKG-INFO
src/pulsee.egg-info/SOURCES.txt


