scratch_ipynbs/
tests/.pytest_cache
notes/
.vscode/
.hypothesis/
.pytest_cache/
tests/.hypothesis/
tests/__pycache__
src/pulsee/__pycache__/
.DS_Store
__pycache__
/demos/archive
/demos/archive/.ipynb_checkpoints
src/pulsee.egg-info/PKG-INFO
*.code-workspace
tests/plot_complex_density_matrix test.py
